
<div class="centrar title"><h1>{{businessDetail.name}}</h1></div>
<div class="contenedor-principal" >
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded contenedor-hijo-izquierdo">
        <div class="centrar">
            <div class="caroucel-size">
                <app-carousel [images]="businessDetail.images" [id]="'myImages'"></app-carousel>
            </div>
        </div>
        <div>
            @if(cod == businessDetail.idClient){
                <h3 class="title" style="margin-top: 5px;">State Business: {{businessDetail.stateBusiness}}</h3>
            }
        </div>
        <div class="form-floating text-area">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" disabled>{{businessDetail.description}}</textarea>
            <label for="floatingTextarea2">description</label>
        </div>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded events-container text-area">
            <div>
                <h3 class="title">Events</h3>
            </div>
            <div style="height: 100px;">
                <ul>
                    @for (item of eventList; track $index) {
                        <div style="display: flex; width:100%;">
                            <div>{{item.title}}</div>
                            <div>{{item.date}}</div>
                        </div>
                    }
                </ul>
            </div>
            @if (cod == businessDetail.idClient) {
                <div class="centrar" style="margin-bottom: 1%;">
                    <Button class="btn btn-ligth btn-outline-dark">add Event</Button>
                </div>
            }
        </div>
        @if (cod == businessDetail.idClient) {
            <div>
                <h3>Review</h3>
                <div>
                    @if(businessDetail.review == null){
                        <h3 class="title">There are no revisions</h3>
                    }@else {
                        <div class="form-floating text-area">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" disabled>{{businessDetail.review.description}}</textarea>
                            <label for="floatingTextarea2">description</label>
                        </div>
                        <div style="display: flex; justify-content: end;" >{{businessDetail.review.date}}</div>
                    }
                </div>

            </div>
        }
    </div>
    <div class="contenedor-hijo-derecho ">
        <div class="container-map">
            <div id="map">
            </div>
        </div>
        <div>
            <div class="contenedor-calificacion">
                <div class=" centrar contenedor-barra">
                    <h3 class="title centrar" style="font-weight: bold; margin-left: 5%; margin-right: 1.5%">Qualification:</h3>
                    <div style="width: 200px;">
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [style]="prueba">{{porcentaje.toFixed(2)}}%</div>
                        </div>
                    </div>
                </div>
                <div class="contenedor-botones">
                    <button class="btn btn-ligth btn-outline-dark">add to favorites</button>
                    <button class="btn btn-ligth btn-outline-dark">add to custom list</button>
                </div>
            </div>
        </div>
        <div>
            <div class="tamanio-full-ancho centrar">
                <div style="display: flex;">
                    <div>
                        <div><img [src]="photo" class="contenedor-img" width="30px" height="30px" alt="" ></div>
                    </div>
                    <div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 75px; width: 500px;" [(ngModel)]="commentMessage" [ngClass]="{' is-invalid':verifyCommentMessage}"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-calificacion">
                <div class="contenedor-calificacion">
                </div>
                <div>
                    <button class="btn btn-ligth btn-outline-dark" (click)="addComment()">add comment</button>
                </div>
            </div>
            <div style="margin-bottom: 10%;">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    view Comments
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        @if(commentList.length == 0){
                            <li class="lista-forma">{{errorComentList}}</li>
                        }@else {
                            @for (item of commentList; track $index) {
                                <app-list-comment [comment]="item"></app-list-comment>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>