<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center
justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0">
            <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-map-location-dot fs-3"></i>
                <span class="fs-4 ms-3 me-3">{{title}}</span>
            </a>
        </div>

        <div class="col-md-3 text-end">
            <button type="button" routerLink="/login" class="btn btn-outline-dark
me-2">Login</button>
            <button type="button" routerLink="/signup" class="btn btn-dark">Sign Up</button>
        </div>
    </header>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024-1 Universidad del
                Quindío</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-x-twitter
fs-5"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram
fs-5"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook
fs-5"></i></a></li>
        </ul>
    </footer>
</div>