<div class="container">
    <h1 class="title">Event</h1>
    <div class="text">Enter the event details</div>
    <div>title</div>
    <input type="text" class="form-control" id="list-name" placeholder="title" [(ngModel)]="title" [disabled]="view">

    <div>Descripcion</div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px" [(ngModel)]="description" [disabled]="view"></textarea>
        <label for="floatingTextarea2">Description</label>
    </div>

    <div>Date</div>
    <mat-form-field class="mat-mdc-form-field-flex">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="dateSelected($event)" [value]="dateReal" [readonly]="view">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker" class="custom-datepicker-toggle" [disabled]="view"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>hora</div>
    <input type="text" class="form-control" placeholder="time" [(ngModel)]="time" [disabled]="view">


    <div class="container-buttons">
        @if (present && view == false) {
            <button type="button" class="btn btn-dark" id="new-button" (click)="updateEvent()">Update</button>
        }@else{
            @if (view==false) {
                <button type="button" class="btn btn-dark" id="new-button" (click)="createEvent()">Create</button>
            }
        }
        <button type="button" class="btn btn-exit" (click)="close()">Exit</button>
    </div>
</div>