<div class="container">
    <h1 class="title">Create List</h1>
    <div class="text">Press the new button to create a new list.</div>
    <div>List</div>
    <div class="list-container">
        <ul class="list-group">
            <li class="list-group-item " *ngFor="let listName of list.slice(1); let i = index;">
                {{listName.listName}}
                <button class="btn btn-close" (click)="deleteBusinessList(i)"></button>
            </li>
        </ul>
    </div>
    <input type="text" class="form-control" id="list-name" placeholder="Name" [(ngModel)]="name" name="name">
    <div class="container-buttons">
        <button type="button" class="btn btn-dark" id="new-button" (click)="createBusinessList()">New</button>
        <button type="button" class="btn btn-dark" (click)="close()">Exit</button>
    </div>
</div>