.contenedor-principal{
    display: flex;
}
.contenedor-hijo-derecho{
    width: 70%;
    height: 100%;
}
.contenedor-hijo-izquierdo{
    width: 30%;
    height: 100%;
}
.caroucel-size{
    width: 90%;
    height: 200px;
    border-radius: 10%;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area{
    margin: 3%;
}
.events-container{
    border:1px solid black;
    border-radius: 5%;
}
.title{
    margin-left: 10%;
    font-weight: bold;
}
.container-map{
    margin: 2% 10% 2% 10%;
}
.contenedor-calificacion{
    display: flex;
    justify-content: space-between;
}
.contenedor-botones{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.contenedor-barra{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.contenedor-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}
.tamanio-full-ancho{
    margin-top:1%;
    width: 100%;
    display: flex;
    padding: 0 2% 2% 2%;
}
.lista-forma{
    margin: 7px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    width: 80%;
}
.lista-forma:hover{
    background-color: black;
    color: white;
}