<div style="margin-left: 10%;">
    <div class="tamanio-full-ancho">
        <div style="display: flex;">
            <div>
                <div><img [src]="client.profilePhoto" class="contenedor-img" width="30px" height="30px" alt="" ></div>
            </div>
            <div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 60px; width: 400px;" disabled>{{comment.message}}</textarea>
                    <label for="floatingTextarea2">{{client.nickname}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-calificacion" style="margin-left: 5%;">
        <div class="contenedor-calificacion">
            <h3 class="title" style="margin-right: 5%;">Qualification: </h3>
            <div>
                @if (verifyCalifycation) {
                    <input type="number" class="form-control" placeholder="0-5" width="100px" [disabled]="verifyCalifycation" [value]="comment.rating">
                }@else {
                    @if (comment.idClient==cod) {
                        <input type="number" class="form-control" placeholder="0-5" width="100px" [(ngModel)]="number" [disabled]="verifyCalifycation" [value]="comment.rating">
                    }@else {
                        <h3 class="title" style="width: 150px;">There is not rating</h3>
                    }
                }
                <div class="alert alert-warning" [hidden]="limite">The number must be between 0 and 5</div>
            </div>
            @if (comment.idClient==cod) {
                <button class="btn btn-ligth btn-outline-dark" (click)="addCalification()" style="height: 40px;" [hidden]="verifyCalifycation">add</button>
            }

        </div>
        <div class="contenedor-calificacion">
            @if(!verifyClient){
                <button class="btn btn-ligth btn-outline-dark" style="margin-right: 2%;" (click)="deleteComment()" >Delete</button>
            }
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#responses-collapse'+comment.id" aria-expanded="true">
                Responses
            </button>
        </div>
    </div>
    <div class="collapse show" [id]="'responses-collapse'+comment.id">
        <h3 style="margin-left: 10%;">Response: </h3>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            @if (comment.answer == null) {
                @if (!verifyClient) {
                    <div style="margin-left: 10%;">
                        <div style="display: flex;">
                            <div>
                                <div><img [src]="photo" class="contenedor-img" width="30px" height="30px" alt="" ></div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 60px; width: 400px;" [disabled]="verifyClient" [(ngModel)]="messageAnswer" [ngClass]="{'is-invalid':verifyAnswer}"></textarea>
                                    <label for="floatingTextarea2">Comment</label>
                                    <div class="alert alert-warning" [hidden]="!verifyAnswer">you must enter a response</div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-calificacion">
                            <div class="contenedor-calificacion">
                            </div>
                            <div>
                                <button class="btn btn-ligth btn-outline-dark" (click)="addAnswer()" >add answer</button>
                            </div>
                        </div>
                    </div>
                }@else {
                    <h3 class="title">Without Response</h3>
                }
            }@else {
                <div style="margin-left: 10%;">
                    <div style="display: flex;">
                        <div>
                            <div><img [src]="clientOwner.profilePhoto" class="contenedor-img" width="30px" height="30px" alt="" ></div>
                        </div>
                        <div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 60px; width: 400px;" disabled>{{comment.answer.message}}</textarea>
                                <label for="floatingTextarea2">Comment</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ul>
    </div>
</div>
