<div>
    <div class="tamanio-full-ancho">
        <div style="display: flex;">
            <div>
                <div><img [src]="" class="contenedor-img" width="30px" height="30px" alt="" ></div>
            </div>
            <div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 75px; width: 400px;" ></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-calificacion">
        <div class="contenedor-calificacion">
            <h3 class="title" style="margin-right: 5%;">Qualification: </h3>
            <input type="number" class="form-control" placeholder="0-5" width="150px" >
        </div>
        <div>
            <button class="btn btn-ligth btn-outline-dark">add comment</button>
        </div>
    </div>
</div>
