.lista-pendientes{
    margin-left: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left:10px ;

}
.lista-pendientes:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}