<div class="contenedor">
    <div>
        <div class="form-control control-contenedor">
            <div class="centrar">
                <h1>Create Business</h1>
            </div>
            <div class="centrar">
                <div class="control-craousel">
                    @if (images.length>0) {
                        <app-carousel [images]="images"  [id]="'images'"></app-carousel>
                    }
                    <div class="centrar">
                        <div class="spinner-grow" role="status" [hidden]="!isLoading">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <input class="form-control" type="file" id="formFileMultiple" (change)="onFileSelected($event)" multiple>
                </div>
            </div>
            <div class="alert alert-danger" [hidden]="!imagesAlert">
                debe ingresar por lo menos una imagen
            </div>
            <div class="margen">
                <div>
                    <label for="">Name Business</label>
                    <input type="text" class="form-control" [(ngModel)]="name" >
                    <div class="alert alert-danger" [hidden]="!nameAlert">
                        este campo es obligatorio
                    </div>
                </div>
                <div>
                    <label for="">Description</label>
                    <textarea class="form-control" name="" id="" [(ngModel)]="description"></textarea>
                    <div class="alert alert-danger" [hidden]="!descriptionAlert">
                        este campo es obligatorio
                    </div>
                </div>
                <div>
                    <div class="contenedor-elementos">
                        <label for="">Phones</label>
                        <button (click)="telephonesMore()" matTooltip="new phone" matTooltipPosition="after" class="botones">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                        </button>
                    </div>
                    <div *ngFor="let phones of numArray; let i = index">
                        <div class="input-group">
                            <input class="form-control" matTooltip="press enter" (change)="changePhone(i,phone.value)" [placeholder]="'phone: '+(i+1)" [value]="numArray[i]" type="number" #phone>
                            <button class="btn btn-outline-secondary" matTooltip="delete phone" matTooltipPosition="after" (click)="deletePhone(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="alert alert-danger" [hidden]="!viewAlert[i]">
                            {{message}}
                        </div>
                    </div>
                    <div class="alert alert-danger" [hidden]="!numArrayAlert">
                        debe ingresar por lo menos 1 telefono
                    </div>
                </div>
                <div>
                    <div class="contenedor-elementos">
                        <label for="">Schedule</label>
                        <button (click)="addSchedule()" matTooltip="new shedule" matTooltipPosition="after" class="botones" [disabled]="disableScheduleAdd" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <div *ngFor="let shedule of scheduleList; let i = index">
                            <div class="contenedor-inputs">
                                <div class="divs-contenedor"><input type="text" class="form-control" (change)="changeScheduleDay(i, day.value)" placeholder="day" [value]="days[i]" #day></div>
                                <div class="divs-contenedor"><input type="text" class="form-control" (change)="changeScheduleStart(i, start.value)" placeholder="start" #start></div>
                                <div class="divs-contenedor"><input type="text" class="form-control" (change)="changeSheduleEnd(i, end.value)" placeholder="end" #end></div>
                                <div class="">
                                    <button class="btn btn-outline-secondary" matTooltip="delete shedule" matTooltipPosition="after" (click)="deleteShedule(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" [hidden]="!scheduleListAlert">
                        debe ingresar por lo menos un horario
                    </div>
                </div>
                <div>
                    <label for="">Type Business</label>
                    <select class="form-select" name="" id="" [(ngModel)]="typeBusiness">
                        <option selected disabled>choose...</option>
                        <option value="PANADERIA">PANADERIA</option>
                        <option value="CAFETERIA">CAFETERIA</option>
                        <option value="BAR">CAR</option>
                        <option value="RESTAURANTE">RESTAURANTE</option>
                        <option value="DISCOTECA">DISCOTECA</option>
                        <option value="SUPERMERCADO">SUPERMERCADO</option>
                        <option value="TIENDA">TIENDA</option>
                        <option value="HELADERIA">HELADERIA</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                    <div class="alert alert-danger" [hidden]="!typeBusinessAlert">
                        debe ingresar el tipo de negocio
                    </div>
                </div>
                <label for="">Locatión</label>
                <div class="centrar">
                    <div id="map">
                    </div>
                </div>
                <div class="alert alert-danger" [hidden]="!ubicationAlert">
                    debe ingresar una ubicacion
                </div>
                <div class="centrar">
                    <div class="contenedor-elementos tamanio">
                        <button class="btn btn-light btn-outline-dark btn-lg" (click)="addBusiness()">Create</button>
                        <button class="btn btn-light btn-outline-dark btn-lg" routerLink="/home/list-business">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>