<div class="contenedor">
    <div>
        <div class="titulo centrar">
            <h1>Create Business</h1>
        </div>
        <div class="form-control control-contenedor">
            <div class="centrar">
                <div class="control-craousel">
                    <app-carousel [images]="images"></app-carousel>
                </div>
            </div>
            <div>
                <div>
                    <label for="">Name Business</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="">Description</label>
                    <textarea class="form-control" name="" id=""></textarea>
                </div>
                <div>
                    <label for="">Telephone</label>
                    <input class="form-control" type="text">
                </div>
                <div>
                    <select class="form-select" name="" id="">
                        <option selected disabled>choose...</option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
