<div class="contenedor">
    <div>
        <div class="titulo centrar">
            <h1>Create Business</h1>
        </div>
        <div class="form-control control-contenedor">
            <div class="centrar">
                <div class="control-craousel">
                    <app-carousel [images]="images"></app-carousel>
                </div>
            </div>
            <div>
                <div>
                    <label for="">Name Business</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="">Description</label>
                    <textarea class="form-control" name="" id=""></textarea>
                </div>
                <div>
                    <label for="">Telephone</label>
                    <input class="form-control" type="text">
                </div>
                <div>
                    <label for="">Type Business</label>
                    <select class="form-select" name="" id="">
                        <option selected disabled>choose...</option>
                        <option value="PANADERIA">PANADERIA</option>
                        <option value="CAFETERIA">CAFETERIA</option>
                        <option value="BAR">CAR</option>
                        <option value="RESTAURANTE">RESTAURANTE</option>
                        <option value="DISCOTECA">DISCOTECA</option>
                        <option value="SUPERMERCADO">SUPERMERCADO</option>
                        <option value="TIENDA">TIENDA</option>
                        <option value="HELADERIA">HELADERIA</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                <div>
                    <div id="map">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
