.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-contenedor{
    width: 549px;
}
.control-craousel{
    width: 300px;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#map{
    width: 80%;
    height: 200px;
    border-radius: 10px;
}
.margen div{
    margin-top:10px;
    margin-bottom: 10px;
}
.contenedor-elementos{
    display:flex;
    justify-content: space-between;

}
.botones{
    border-style: none;
    background-color: transparent;
}
.contenedor-inputs{
    display: flex;
    justify-content: space-between;
}
.divs-contenedor{
    width: 150px;
}
.tamanio{
    width: 300px;
}
